In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("IRIS.csv")

In [5]:
print(df.head(10))

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [9]:
print("\nShape:", df.shape)
print("\nData Types:")
print(df.dtypes)

Shape: (150, 5)

Data Types:
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [10]:
print("\nSummary Statistics:")
print(df.describe())

Summary Statistics:
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [22]:
# filtered_df = df[
#     (df["petal_length"] > 4.5) &
#     (df["species"] == "Iris-virginica")
# ]
# print(filtered_df)

In [24]:
grouped_stats = df.groupby("species").agg(
    avg_sepal_length=("sepal_length", "mean"),
    max_petal_width=("petal_width", "max"),
    std_sepal_width=("sepal_width", "std")
)

print("Grouped statistics by species:")
print(grouped_stats)

Grouped statistics by species:
                 avg_sepal_length  max_petal_width  std_sepal_width
species
Iris-setosa                 5.006              0.6         0.381024
Iris-versicolor             5.936              1.8         0.313798
Iris-virginica              6.588              2.5         0.322497

In [25]:
df["petal_ratio"] = df["petal_length"] / df["petal_width"]

In [29]:
avg_petal_ratio = df.groupby("species")["petal_ratio"].mean()
avg_petal_ratio

species
Iris-setosa        7.078000
Iris-versicolor    3.242837
Iris-virginica     2.780662
Name: petal_ratio, dtype: float64

In [59]:
dft = pd.read_csv("Titanic-Dataset.csv")

# print(dft.index) # row labels 
print(dft.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [51]:
dft.columns = dft.columns.str.strip()
# dft.sample()
selected_cols = dft[["Name", "Sex", "Age", "Fare", "Survived"]]
print(selected_cols.head())

                                                Name     Sex   Age     Fare  \
0                            Braund, Mr. Owen Harris    male  22.0   7.2500
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0  71.2833
2                             Heikkinen, Miss. Laina  female  26.0   7.9250
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0  53.1000
4                           Allen, Mr. William Henry    male  35.0   8.0500

   Survived
0         0
1         1
2         1
3         1
4         0

In [56]:
filtered = dft[ (dft["Sex"]=="female") & ( dft["Fare"]>30) ]

In [57]:
print(filtered)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
9             10         1       2
25            26         1       3
31            32         1       1
..           ...       ...     ...
853          854         1       1
856          857         1       1
863          864         0       3
871          872         1       1
879          880         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
31      Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
..                                                 ...     ...   ...    ...
853                          Lines, Miss. Mary Conover  female  16.0      0
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.0      1
863                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN      8
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0

     Parch    Ticket      Fare Cabin Embarked
1        0  PC 17599   71.2833   C85        C
3        0    113803   53.1000  C123        S
9        0    237736   30.0708   NaN        C
25       5    347077   31.3875   NaN        S
31       0  PC 17569  146.5208   B78        C
..     ...       ...       ...   ...      ...
853      1  PC 17592   39.4000   D28        S
856      1     36928  164.8667   NaN        S
863      2  CA. 2343   69.5500   NaN        S
871      1     11751   52.5542   D35        S
879      1     11767   83.1583   C50        C

[113 rows x 12 columns]

In [60]:
grouped_stats = dft.groupby("Pclass").agg(
    survival_rate=("Survived", "mean"),
    average_fare=("Fare", "mean"),
    average_age=("Age", "mean")
)

print(grouped_stats)

        survival_rate  average_fare  average_age
Pclass
1            0.629630     84.154687    38.233441
2            0.472826     20.662183    29.877630
3            0.242363     13.675550    25.140620